/* JUST-FOR-DEV */
#formBuilderFields #formFields { float: left; width: 60%; }
#formBuilderFields #availableResources { float: right; width: 38%; }
#edit-actions, div.break { clear: both; }
/* -- JUST-FOR-DEV */

/* --------------------- */
/* Drop & drag zones     */
/* --------------------- */
.field.draggable .drag-icon { position: relative; z-index: 100; float: left; margin: -5px 15px 0 -5px; }
li.field { position: relative; }
li.field .dropzone { display: none; position: absolute; left: 0; width: 100%; }
li.field .dropzone.before { top: 0; }
li.field .dropzone.after { bottom: 0; }
.dropzone { height: 25px; cursor: auto; }
.dropzone.before.on-drag-enter { display: block; border-top: 1px solid #ccc; }
.dropzone.before.on-drag-hover { border-top: 1px solid #0074BD; }
.dropzone.after.on-drag-enter { border-bottom: 1px solid #ccc; }
.dropzone.after.on-drag-hover { border-bottom: 1px solid #0074BD; }

/* Only display after dropzone on last element of list. */
.page-stack > ul > li.field > .dropzone.after.on-drag-enter,
.group-stack > ul > li.field > .dropzone.after.on-drag-enter { display: none; }
.page-stack > ul > li.field:last-child > .dropzone.after.on-drag-enter,
.group-stack > ul > li.field:last-child > .dropzone.after.on-drag-enter { display: block; height: 15px; }

/* --------------------- */
/* Pages                 */
/* --------------------- */
.drag-icon { padding: 4px 20px 4px 5px; min-height: 18px; float: right; background: url(/misc/draggable.png) no-repeat 100% 8px; cursor: move; }
.drag-icon span { visibility: hidden; }
.drag-icon.on-drag-enter { border: 1px #0074BD solid;  }

.drag-icon:hover { background-position-y: -12px; }
.drag-icon:hover span,
.drag-icon.on-drag-enter span { visibility: visible; font-weight: bold; }
#formFields li.draggable.page.on-dragging { visibility: hidden; }
#formFields li.draggable.page.on-drag-enter { padding: 11px; border: 1px green dashed; }
#formFields li.draggable.page.on-drag-hover { padding-bottom: 9px; border-bottom: 3px #0074BD solid; }
#formFields li.draggable.page { padding: 12px; margin-bottom: 10px; }
#formFields li.draggable.page { padding: 11px; border: 1px #aaa dashed; }

#formFields li div.page-actions li { padding: 0 15px 0 0; }
#formFields li div.page-actions li a { line-height: 20px; }
.page .page-actions a i.icon { display: inline-block; width: 12px; height: 12px; background: url(/modules/shortcut/shortcut.png) 0 0px no-repeat; }
.page .page-actions a i.icon.remove { background-position-x: -11px; }

/* --------------------- */
/* Available fields      */
/* --------------------- */
#availableFields .item-list ul li { list-style-type: none; }
#availableFields .item-list li ul li { padding: 5px 12px 5px 35px; margin: 2px 0; }
#availableFields ul.entity-fields li { padding: 11px; border: 1px #aaa dashed; }
#availableFields .drag-icon { float: left; margin-left: -30px; padding-left: 0; }

/* --------------------- */
/* Fields                */
/* --------------------- */
#availableFields ul,
#formFields .item-list ul { margin: 0; padding: 0; }
#formFields li { list-style-type: none; padding: 5px 0; margin: 2px 0; }

#availableFields ul.entity-fields li.on-drag-enter,
#formFields li.field.on-drag-enter { padding: 11px; border: 1px green dashed; }

#formFields ul li.empty.on-drag-hover,
#formFields ul li.field.on-drag-hover { padding-bottom: 9px; border-bottom: 1px #0074BD solid; }

#formFields li div.field-actions { float: right; }
#formFields li div.field-actions ul.action-links li { padding: 0 15px 0 0; }
#formFields li div.field-actions ul.action-links li a { line-height: 20px; }

/* --------------------- */
/* Group                 */
/* --------------------- */
.field.group div.group-stack { padding-left: 30px; }
